section#opener
  .video-container
    video(autoplay, muted, loop, autobuffer, poster="/images/ETH_DEV_LOGO_LARGE.svg")
      source(src="/videos/ETH_DEV_ANIMATION_WEBSITE.mp4", type="video/mp4")
      source(src="/videos/ETH_DEV_ANIMATION_WEBSITE.webmsd.webm", type="video/webm")
  +section_footer()
